Button {
    width: 90px;
    height: 90px;
    background-color: #5860F8;
    border: none;
}

Button:active {
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.08);
    transition: linear;
}


Button:hover {

    background-color: #5159E9;
    transition: 0.1s ease-in;
}